# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# This makes all files here owned by the Chem Gatekeepers by default
* @GEOS-ESM/chemistry-gatekeepers

# Anton is CODEOWNER of some directories so he is informed
DNA_GridComp/ @adarmenov
GAAS_GridComp/ @adarmenov
GEOSachem_GridComp/ @adarmenov
GOCART_GridComp/ @adarmenov
MAMchem_GridComp/ @adarmenov
MATRIXchem_GridComp/ @adarmenov

# Some files are important to both the gatekeepers and adarmenov
Shared/Chem_Base/ @GEOS-ESM/chemistry-gatekeepers @adarmenov
Shared/Chem_Shared/ @GEOS-ESM/chemistry-gatekeepers @adarmenov
GEOS_ChemEnvGridComp.F90 @GEOS-ESM/chemistry-gatekeepers @adarmenov
GEOS_ChemGridComp.F90 @GEOS-ESM/chemistry-gatekeepers @adarmenov

# Christoph should be CODEOWNER of GCC and HEMCO
GEOSCHEMchem_GridComp/ @christophkeller
HEMCO_GridComp/ @christophkeller
Shared/HEMCO/ @christophkeller

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt @GEOS-ESM/cmake-team

