# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

# This makes all files here owned by the Chem Gatekeepers by default
*                        @GEOS-ESM/chemistry-gatekeepers

# The Aerosol Team is CODEOWNER of some directories along with Chem Gatekeepers
Shared/Chem_Base/        @GEOS-ESM/aerosol-team      @GEOS-ESM/chemistry-gatekeepers
Shared/Chem_Shared/      @GEOS-ESM/aerosol-team      @GEOS-ESM/chemistry-gatekeepers
GEOS_ChemEnvGridComp.F90 @GEOS-ESM/aerosol-team      @GEOS-ESM/chemistry-gatekeepers
GEOS_ChemGridComp.F90    @GEOS-ESM/aerosol-team      @GEOS-ESM/chemistry-gatekeepers

# The GEOSCHEMchem team should be CODEOWNER of GCC and HEMCO
GEOSCHEMchem_GridComp/   @GEOS-ESM/geoschemchem-team @GEOS-ESM/chemistry-gatekeepers
HEMCO_GridComp/          @GEOS-ESM/geoschemchem-team @GEOS-ESM/chemistry-gatekeepers
Shared/HEMCO/            @GEOS-ESM/geoschemchem-team @GEOS-ESM/chemistry-gatekeepers

# The Python Transition Team will own Python files
# until the Python 3 transition is completed
*.py @GEOS-ESM/python-transition-team

# The GEOS CMake Team is the CODEOWNER for the CMakeLists.txt files in this repository
CMakeLists.txt           @GEOS-ESM/cmake-team

