#

PrimaryExports%%
# -----------|--------------|-----|---|----------------------|--------|-------|----------------------------------------   
#  Import    |              |	  |Rgr|_______ Refresh ______|____ Factors ___|___________ External File __________
#  Name      |     Units    |Clim |Mth|     Time Template    | Offset | Scale |     Variable    |      Template
# -----------|--------------|-----|---|----------------------|--------|-------|-----------------|----------------------   
# For lightning:
RATIO_LOCAL         '1'         N   N   F0                       none    none  ratio_local       ExtData/g5chem/x/lightning/FlashRatio_x288_y181_t1.%y4%m201.nc
MIDLAT_ADJ          '1'         Y   N   -                        none    none  midlat            ExtData/g5chem/x/lightning/FlashRatio_const_x288_y181_2005.nc
MCOR                'm2'        Y   N   -                        none    none  mcor              ExtData/g5chem/x/lightning/mcor_x288_y181_2005.nc
# -----------|--------------|-----|---|----------------------|--------|-------|-----------------|----------------------   
%%

Masks%%
# ------------|----------|-------------------------------------------|
#  Name       |          |       Template File Name                  |
# ------------|----------|-------------------------------------------|
#  Import     | Variable | File name                                 |
#  Name       |          |                                           |
# ------------|----------|-------------------------------------------|
%%

DerivedExports%%
# ---------|---------|--------------------------------------------|
#  Export  | Primary |_________________ Mask _____________________|
#  Name    |  Name   |    Name    |           Expression          |    
# ---------|---------|------------|-------------------------------|
# ---------|---------|------------|-------------------------------|
%%
