site_name: pyMoist Documentation
theme:
  name: material

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          paths: [.]  # Adjust this path to where your Python modules are
          options:
            show_source: false
            show_root_heading: false

nav:
  - Home: index.md
