#
# Sample resource file exemplifying the specification of an interface to
# boundary conditions, emissions and other external files. This resource
# file is meant to be read by the MAPL_ExtData Grid Component.
#

PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|

# SO2 emissions
SO2_EMIS_FIRES         'kg m-2 s-1'         N        Y %y4-%m2-%d2t12:00:00        none none     biomass      ExtData/chemistry/QFED/v2.5r1-nrt/sfc/0.1/Y%y4/M%m2/qfed2.emis_so2.006.%y4%m2%d2.nc4


SO2_EMIS_NONENERGY     'kg m-2 s-1'         Y        Y %y4-%m2-%d2t12:00:00        none none     sanl1        ExtData/chemistry/HTAP/v2.2/sfc/htapv2.2.emisso2.surface.x3600y1800t12.2017.integrate.nc4
SO2_EMIS_ENERGY        'kg m-2 s-1'         Y        Y %y4-%m2-%d2t12:00:00        none none     sanl2        ExtData/chemistry/HTAP/v2.2/sfc/htapv2.2.emisso2.elevated.x3600y1800t12.2017.integrate.nc4


SO2_EMIS_SHIPPING      'kg m-2 s-1'         Y        Y %y4-%m2-%d2t12:00:00        none none     so2_ship     ExtData/chemistry/HTAP/v2.2/sfc/htap-v2.2.emis_so2.ships.x3600_y1800_t12.2010.nc4
SO2_EMIS_AIRCRAFT_LTO  'kg m-2 s-1'         Y        Y %y4-%m2-%d2t12:00:00        none none     so2_aviation ExtData/chemistry/HTAP/v2.2/sfc/htap-v2.2.emis_so2.aviation_lto.x3600_y1800_t12.2010.nc4
SO2_EMIS_AIRCRAFT_CDS  'kg m-2 s-1'         Y        Y %y4-%m2-%d2t12:00:00        none none     so2_aviation ExtData/chemistry/HTAP/v2.2/sfc/htap-v2.2.emis_so2.aviation_cds.x3600_y1800_t12.2010.nc4
SO2_EMIS_AIRCRAFT_CRS  'kg m-2 s-1'         Y        Y %y4-%m2-%d2t12:00:00        none none     so2_aviation ExtData/chemistry/HTAP/v2.2/sfc/htap-v2.2.emis_so2.aviation_crs.x3600_y1800_t12.2010.nc4

# Surface seawater concentration of DMS
DMS_CONC_OCEAN         'mol m-3'            Y        Y %y4-%m2-%d2t12:00:00        0.0  1.0e-6   conc         ExtData/chemistry/Lana/v2011/DMSclim_sfcconcentration.x360_y181_t12.Lana2011.nc4

# NH3 emissions
NH3_EMIS               'kg m-2 s-1'         N        Y               0             none none     emi_nh3      ExtData/chemistry/MERRA2/v0.0.0/sfc/edgar-v42.emis_nh3.anthropogenic.x1152_y721.19700703T12z_20200703T00z.nc4
NH3_EMIS_FIRE          'kg m-2 s-1'         N        Y     %y4-%m2-%d2T12:00:00    none none     biomass      ExtData/chemistry/QFED/v2.5r1-nrt/sfc/0.1/Y%y4/M%m2/qfed2.emis_nh3.006.%y4%m2%d2.nc4
NH3_EMIS_OCEAN         'kg m-2 s-1'         Y        Y     %y4-%m2-%d2T12:00:00    none none     emiss_ocn    ExtData/chemistry/GEIA/v0.0.0/sfc/GEIA.emis_NH3.ocean.x576_y361.t12.20080715_12z.nc4

# Volume mixing ratio of prescribed oxidant field
OH                     'mol mol-1'          N        N               0             none none     oh           ExtData/chemistry/MERRA2GMI/v0.0.0/L72/MERRA2_GMI.tavg24_3d_dac_Nv.x576_y361_t12.%y4.nc4
NO3                    'mol mol-1'          N        N               0             none none     no3          ExtData/chemistry/MERRA2GMI/v0.0.0/L72/MERRA2_GMI.tavg24_3d_dac_Nv.x576_y361_t12.%y4.nc4
#HO2                   'mol mol-1'          N        N               0             none none     ho2          ExtData/chemistry/MERRA2GMI/v0.0.0/L72/MERRA2_GMI.tavg24_3d_dac_Nv.x576_y361_t12.%y4.nc4
H2O2                   'mol mol-1'          N        N               0             none none     h2o2         ExtData/chemistry/MERRA2GMI/v0.0.0/L72/MERRA2_GMI.tavg24_3d_dac_Nv.x576_y361_t12.%y4.nc4


# SOA(gas) emissions
SOAG_EMIS              'm-2 s-1'            Y        N               0             none none     soag         ExtData/chemistry/CAM/v0.0.0/sfc/SOAG.emiss.x144_y91_t12.1990.nc4

# CO emissions for VOC
CO_BIOMASS_VOC         'kg m-2 s-1'         N        Y     %y4-%m2-%d2t12:00:00Z   none none     biomass       ExtData/chemistry/QFED/v2.5r1-nrt/sfc/0.1/Y%y4/M%m2/qfed2.emis_co.006.%y4%m2%d2.nc4
CO_BF_VOC              'kg m-2 s-1'         Y        Y     %y4-%m2-%d2t12:00:00Z   none none     emcobf        /dev/null
CO_FS_VOC              'kg m-2 s-1'         N        Y     %y4-%m2-%d2t12:00:00Z   none none     co            ExtData/chemistry/CEDS/v2021-04-21-revised/sfc/CO-em-anthro_CMIP_CEDS_gn.x2304_y1441_t12.%y4.nc4

# Photolysis rates
#jH2O2                 's-1'                Y        N               0             none none     jH2O2         ExtData/chemistry/GMI/v0.0.0/L72/Y2008/gmi_jh2o2.x144_y91_z72.2008%m2.nc4
%%

DerivedExports%%
# ---------|---------|--------------------------------------------|
#  Export  | Primary |_________________ Mask _____________________|
#  Name    |  Name   |    Name    |           Expression          |    
# ---------|---------|------------|-------------------------------|
# ---------|---------|------------|-------------------------------|
%%

