#
# Resource file Dust parameters. 
#

bins: 5

variable_table::

# Name     Units        Long Name
# -----    ------       ----------------------
du001      'kg kg-1'    'Dust Mixing Ratio (bin001)'
du002      'kg kg-1'    'Dust Mixing Ratio (bin002)'
du003      'kg kg-1'    'Dust Mixing Ratio (bin003)'
du004      'kg kg-1'    'Dust Mixing Ratio (bin004)'
du005      'kg kg-1'    'Dust Mixing Ratio (bin005)'
::

OPTICS_FILE: ExtData/MERRA2/x/opticsBands_DU.v15_3.RRTMG.nc

NUM_BANDS: 30

