#==================================
# Resource file for GMI parameters.
#==================================

        #############################
        # Where is the GMI mechanism?
        #############################

# File not used, but kept for now as a reference:
#kineticsTextFile: setkin_chem_mech.txt___.rc

        #############################
        # GMI Chemical Mechanism Name
        #############################

chem_mecha: strat_trop

        #############################
        # MetFields Related Variables
        #############################

met_opt: 3
metdata_name_org: GMAO
metdata_name_model: GEOS-5

        #############################################
        # Should BC files have current date and time?
        # Useful for mission support and replays.
        #############################################

BCRealTime: F

        #############################################################
        # Import predicted dust and aerosols from GOCART. Switches 
        # are independent. Set all F if GMICHEM or GOCART.data is
	# the AERO_PROVIDER.
        #############################################################

usingGOCART_BC: F
usingGOCART_DU: F
usingGOCART_OC: F
usingGOCART_SS: F
usingGOCART_SU: F

        ##################################################################
        # What is the name of the importrestart file? If this file does
        # not exist, species will "freewheel" through the first time step.
        ##################################################################

importRestartFile: gmichem_import_rst

        #############################
        # Advection related variables
        #############################

trans_opt: 0
# for aerosols:
do_grav_set: F


        #########################################
        # Species Concentration related variables
        #########################################

const_opt: 2
fixedConcentrationSpeciesNames::
ACET
::

        #############################
        # Tracer related variables
        #############################

tracer_opt: 0

        ###############################
        # Diagnostics related variables
        ###############################

verbose: F
pr_dry_depos: T
pr_wet_depos: T
pr_diag: F
pr_const: T
pr_surf_emiss: T
pr_emiss_3d: T
# only set TRUE if you need QQJ, QQK exports:
pr_qqjk: F
pr_noon: F
pr_local: F
do_ftiming: F
pr_qj_o3_o1d: F
pr_qj_opt_depth: F
pr_smv2: F
do_aerocom: F
pr_scav: T
pr_sulf_src: F
pr_nc_period: -1.00

        #############################
        # Restart related variables
        #############################

rd_restart: T

        ##############################
        # Deposition related variables
        ##############################

do_drydep: T
do_wetdep: T
do_simpledep: F

        ##############################
        # Emission related variables
	#   NOTE:  PRPE <=> C3H6
        ##############################

do_emission: T
do_dust_emiss: F
Diurnal_Emission_Species: 9

        ##################################################################################
        # Are emissions provided per m^2 (by area) or per gridbox?  Default: by area = T
        ##################################################################################
clim_emiss_by_area: T

        #############################################################################
        # By listing a species below, we cause it to be read via ExtData.
        # Note that it also must have been listed in GMI_Registry.rc at compile time.
        #############################################################################
emiss_opt: 2
emiss_in_opt: 2
emiss_conv_flag: 0
semiss_inchem_flag: 0
emissionSpeciesNames::
ALD2_biom
ALK4_biom
C2H6_biom
PRPE_biom
C3H8_biom
CH2O_biom
MEK_biom
CO_biom
NO_biom
NO_air
ALK4_fosf
C2H6_fosf
PRPE_fosf
C3H8_fosf
MEK_fosf
CO_fosf
NO_fosf
::

emissionSpeciesLayers::
1
1
1
1
1
1
1
1
1
72
1
1
1
1
1
1
1
::

# Ship Emissions requires SHIP_NO in ExtData:
do_ShipEmission: T
doMEGANemission: T
doMEGANviaHEMCO: F

isop_scale::
1.0d0
1.0d0
1.0d0
1.0d0
1.0d0
1.0d0
1.0d0
1.0d0
1.0d0
1.0d0
1.0d0
1.0d0
::

soil_infile_name:      ExtData/g5chem/x/GMI_SoilType.asc
isopconv_infile_name:  ExtData/g5chem/x/GMI_ISOP_convTable.asc
monotconv_infile_name: ExtData/g5chem/x/GMI_MONOT_convTable.asc

do_gcr: T
gcr_infile_name: ExtData/g5chem/x/gcr/GCR_1970-2025_33.nc 
do_solar_cycle: T
sc_infile_name: ExtData/g5chem/x/solar_cycle/solar_cycle_NRL_1882_present_fill2100.asc

        ######################################
        #     Lightning related variables
        # 0: NO_lgt, 1: Parameterized, 2: None
        ######################################

lightning_opt: 1
#
# NOW in ChemEnv.rc :
#
# lightNOampFactor: 3.5
# numberNOperFlash: 1.50E+26
# minDeepCloudTop: 7.0

        ##############################
        # Chemistry related variables
        ##############################

do_full_chem: T
do_qqjk_inchem: F
do_synoz: F
chem_opt: 2
dehyd_opt: 0
do_chem_grp: T
synoz_threshold: 150.0d-9
chem_cycle: 1.0d0
do_smv_reord: F
do_wetchem: F
loss_opt: 0
do_AerDust_Calc: T
AerDust_Effect_opt: 0

        ###########################################################
        # GHG and ODS surface source gases
        # forc_bc_opt: 1=Time slice, 2=Time-dependent, 3=Calculated
        ###########################################################

forc_bc_opt: 2
forc_bc_years: 69
forc_bc_start_num: 1950
forc_bc_kmin: 1
forc_bc_kmax: 2
# Previous entry (151 years):
# Be aware that this forc_bc_infile is for RCP 6.0; other options include RCP 4.5, 8.5 and 3PD.
# CO2 is not included in this file; it is specified in getco2.F90 which has different RCP versions too.
# Be sure to use the same RCP versions of forc_bc_infile and getco2.F90 .
#
#forc_bc_infile_name: /discover/nobackup/ldoman/fvInput/RCP6.0_5BrWMO2014_ch4latvar_1950_2100.asc
#forc_bc_infile_name:              ExtData/g5chem/x/GMI/RCP6.0_5BrWMO2014_ch4latvar_1950_2100.asc
#forc_bc_infile_name:              ExtData/g5chem/x/GMI/RCP6.0_5BrWMO2018_ch4latvar_1950_2100.asc
forc_bc_infile_name:               ExtData/g5chem/x/GMI/ccmiRefD1_GMIbc_1950_2018.asc

forcedBcSpeciesNames:: 
CFCl3
CF2Cl2
CFC113
CFC114
CFC115
CCl4
CH3CCl3
HCFC22
HCFC141b
HCFC142b
CF2ClBr
CF2Br2
CF3Br
H2402
CH3Br
CH3Cl
CH4
N2O
::

#     ------------------------------------------------
#     h2oclim_opt
#       1:  set all h2oclim values to h2oclim_init_val
#       2:  read in h2oclim
#       3:  h2oclim, ch4clim not used.  Instead, transported
#           H2O and CH4 are provided by the host AGCM.
#     ------------------------------------------------
#     (as listed in GmiChemistryMethod_mod.F90)

h2oclim_opt: 3

#     ----------------------------------------------------
#     sad_opt
#       0:  do not allocate or process SAD array
#       1:  allocate, but zero out SAD array
#       2:  call Considine code (i.e., Condense)
#       3:  read SAD array from a file of monthly averages
#     ----------------------------------------------------
#     (as listed in GmiChemistryMethod_mod.F90)

sad_opt: 2

#     ----------------------------------------------
#     lbssad_opt
#       1:  set all lbssad values to lbssad_init_val
#       2:  read in lbssad 3d fields
#       3:  read in lbssad zonal average fields
#       4:  lbssad provided by AGCM, current month only.
#     ----------------------------------------------
#     (as listed in GmiSAD_GridCompClassMod.F90)

lbssad_opt: 4

        ##############################
        # Photolysis related variables
        ##############################

#     -----------------------------------------------------
#     phot_opt
#       0:  no photolysis
#       1:  set all qj values to qj_init_val 
#       2:  read in qj values 
#       3:  use fastj routine (for fastJ, fastJx, fastJx53b)
#           This option should be combined with fastj_opt.
#       4:  lookup table for qj (Kawa style)
#       5:  lookup table for qj (Kawa style) +
#           use ozone climatology for column ozone calc.
#       6:  calculate from table and Gmimod data (Quadchem)
#       7:  read in qj values (2-D, 12 months)
#       8:  use fast-JX routine (troposphere/stratosphere)
#     -----------------------------------------------------
#     (as listed in GmiChemistryMethod_mod.F90)

phot_opt: 3

do_clear_sky: F

#     --------------------------------------------------------
#     uvalbedo_opt
#       0:  no uvalbedo
#       1:  set all uvalbedo values to uvalbedo_init_val
#       2:  read in monthly uvalbedo values from an ASCII file
#       3:  read in surface albedo values from the met data
#     --------------------------------------------------------
#     (as listed in GmiPhotolysis_GridCompClassMod.F90)

uvalbedo_opt: 2

#     ----------------------------------------------------------------------
#     sfalbedo_opt
#       0:  no sfalbedo
#       1:  set each type of sfalbedo to an intial value
#       2:  read in monthly sfalbedo values from a NetCDF file
#       3:  read in values of four types of surface albedo from the met data
#     ----------------------------------------------------------------------
#     (as listed in GmiPhotolysis_GridCompClassMod.F90)

sfalbedo_opt: 3

Prather_jNO_factor: 1.0

# Use ozone climatology in FastJX (otherwise use model ozone)
do_ozone_inFastJX: F

#     -----------------------------------------------------
#     fastj_opt: set when phot_opt=3
#       0:  FastJ
#       1:  FastJx       (supported)
#       2:  FastJx 5.3b
#       3:  FastJx 5.3c
#       4:  FastJx 6.5   (supported)
#       5:  CloudJ       (supported) (FastJX 7.4)
#     -----------------------------------------------------
#     (as listed in GmiPhotolysis_GridCompClassMod.F90)

## For FastJX & JPL02
# cross section file: ExtData/g5chem/x/photolysis/FastJX/xsec_jx_06a.dat

## For FastJX & JPL10
# cross section file: ExtData/g5chem/x/photolysis/FastJX/xsec_jx_jpl10update2_JNOx1_0.dat

## For FastJX 6.5 & JPL10
 fastj_opt: 4
 cross_section_file: ExtData/g5chem/x/photolysis/FastJX_6.5/xsec_jx65_jpl10update2_JNOx1_0.dat
# rate_file not needed for FastJX6.5; new approach only differs by roundoff
# rate_file: ExtData/g5chem/x/photolysis/FastJX/ratec_124spc_jx_gmiv2.dat
# rate_file: ExtData/g5chem/x/photolysis/FastJX/ratec_119spc_jx_gmiv3.dat
 T_O3_climatology_file: ExtData/g5chem/x/atms_jx_o3andtemp.dat

##
##... For CloudJ (FastJX 7.4) & JPL10
# fastj_opt: 5
### CloudJ_cldflag options:
###   1: clear sky
###   2: grid-box avg clouds cloud: fract*(in cloud ODs) (minamal overlap?)
###   3: cloud-fract**3/2*(in cloud ODs) (random overlap?) 
###   4: NOT ALLOWED
###   5: Random select NRANDO ICA's (Independent Column Atmos.) from all
###   6: Use all (up to 4) quadrature cloud cover QCAs (mid-pts of bin)
###   7: RECOMMENDED - Use all (up to 4) QCAs (average clouds within each Q-bin)
###   8: Calculate Js for ALL ICAs (up to 20,000 per cell!)
# CloudJ_cldflag:  7
# cross_section_file:       ExtData/g5chem/x/photolysis/CloudJ/FJX_spec_JNOx1_0.dat
# cloud_scat_file:          ExtData/g5chem/x/photolysis/CloudJ/FJX_scat-cld.dat
# ssa_scat_file:            ExtData/g5chem/x/photolysis/CloudJ/FJX_scat-ssa.dat
# aer_scat_file:            ExtData/g5chem/x/photolysis/CloudJ/FJX_scat-aer.dat
# UMaer_scat_file:          ExtData/g5chem/x/photolysis/CloudJ/FJX_scat-UMa.dat
# GMI_scat_file:            ExtData/g5chem/x/photolysis/CloudJ/GMI_scat-aer.dat
# T_O3_climatology_file:    ExtData/g5chem/x/photolysis/CloudJ/atmos_std.dat
# H2O_CH4_climatology_file: ExtData/g5chem/x/photolysis/CloudJ/atmos_h2och4.dat
##

 #################################
 # Copy GMI H2O back to GEOS ?
 #################################

FeedBack_QV: T

 #####################################################
 #    PSC related variables controlling HNO3COND
 #####################################################

NoPSCZone: 45
PSC_Max_P_hPa: 175
# Upper limit for HNO3COND [integer, ppbv]
Condensed_HNO3_limit: 25
# Upper limit for HCl [real, ppbv]
HCl_limit: 5.0
