#
# Mie Tables for AOD analysis.
#
# IMPORTANT: For historical reasons, this resource file is used by 
#            ana_aod.x to specify the relevant Mie Tables. However,
# the GAAS Grid Component does not use this file but rather its own
# resource file (GAAS_GridComp.rc) because of inconsistencies in the
# MieCreate overloads (different resource names: n_channels vs. NUM_BANDS). 
# This is should be fixed.
#
#----------------------------------------------------------------

# First block specifies number and channels to compute AOD over
# and the input filenames to use. 
# ------------------------------------------------------------

# OMI SO2: 305, 310, 324, 380, 440, 500
# OMI Aerosol: 354 388 [~380] 471 [~470] 
# MODIS: 470 550 659 865 1240 1640 2130
# MISR: 468 [~470] 558 [~550] 672 [~670] 867 [~865]
# PARASOL: 670 [~670]  865 

# From ODS:
# OMI:     354  388  471
# MODIS:             470   550   660   870  1200  1600  2100
# MISR:              468   558   672   867 
# PARASOL:                             865
# COMMON:            470   550   660   870

# Common MODIS/MISR channels
n_channels: 4
r_channels: 470.E-9   550.E-9   660.E-9   870.E-9

#n_channels: 1
#r_channels: 550.E-9

filename_optical_properties_DU: ExtData/PIESA/x/optics_DU.v15_3.nc
filename_optical_properties_SS: ExtData/PIESA/x/optics_SS.v3_3.nc
filename_optical_properties_SU: ExtData/PIESA/x/optics_SU.v1_3.nc
filename_optical_properties_OC: ExtData/PIESA/x/optics_OC.v1_3.nc
filename_optical_properties_BC: ExtData/PIESA/x/optics_BC.v1_3.nc
filename_optical_properties_NI: ExtData/PIESA/x/optics_NI.v2_5.nc
filename_optical_properties_BRC: ExtData/PIESA/x/optics_BRC.v1_5.nc

##r_channels: .305e-6 .310e-6 .324e-6 .354e-6 .388e-6 .440e-6 .471e-6 .500e-6 .55e-6 .659e-6 .670e-6 .865e-6 1.24e-6 1.64e-6 2.13e-6
