#
# This the GEOS-5 Aerosol Analysis System (GAAS) Grid Component Registry. It defines Import,
# Internal and Export states for this component.
#
# !REVISION HISTORY:
#  30Nov2010  da Silva  First Version
#
# -----------------------------------------------------------------

COMP_NAME: GAAS

# Only change the Registry version when major structural changes
# occurs, not changes in content
# --------------------------------------------------------------
  MAPL_REGISTRY_VERSION: 1.00  

#                               ------------
#                               Import State
#                               ------------

<ImportSpec name="GAAS", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,default,long_name">
# ---------|------------|-----|---|----|---|---|-----|------|--------------------------
#  Short   |            |     | V |Item|Intervl| Sub | Def  |        Long
#  Name    |   Units    | Dim |Loc|Type| R | A |Tiles| ault |        Name
# ---------|------------|-----|---|----|---|---|-----|------|--------------------------   
   DELP    |    Pa      | xyz | C |    |   |   |     |      | Pressure Thickness
    RH2    |     1      | xyz | C |    |   |   |     |      | Relative Humidity 
    PLE    |    Pa      | xyz | E |    |   |   |     |      | Air Pressure
   aod_a   |     1      | xy  | C |    |   |   |     |      | AOD
   aod_f   |     1      | xy  | C |    |   |   |     |      | AOD
   aod_k   |     1      | xy  | C |    |   |   |     |      | AOD
# ---------|------------|-----|---|----|---|---|-----|------|--------------------------
</ImportSpec>

#                               ------------
#                               Export State
#                               ------------

<ExportSpec name="GAAS", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,long_name">
# ---------|------------|-----|---|----|---|---|-----|---------------------------------
#  Short   |            |     | V |Item|Intervl| Sub |          Long
#  Name    |   Units    | Dim |Loc|Type| R | A |Tiles|          Name
# ---------|------------|-----|---|----|---|---|-----|---------------------------------
  AODANA   |     1      | xy  | C |    |   |   |     | Aerosol Optical Depth Analysis
  AODINC   |     1      | xy  | C |    |   |   |     | Aerosol Optical Depth Analysis Increment
#
  DUANA    |  kg/kg     | xyz | C |    |   |   |     | Dust Mixing Ratio Analysis
  SSANA    |  kg/kg     | xyz | C |    |   |   |     | Sea-salt Mixing Ratio Analysis
  NIANA    |  kg/kg     | xyz | C |    |   |   |     | Nitrate Mixing Ratio Analysis
  SUANA    |  kg/kg     | xyz | C |    |   |   |     | Sulfate Mixing Ratio Analysis
  BCANA    |  kg/kg     | xyz | C |    |   |   |     | Black Carbon Mixing Ratio Analysis
  OCANA    |  kg/kg     | xyz | C |    |   |   |     | Organic Carbon Mixing Ratio Analysis
  BRANA    |  kg/kg     | xyz | C |    |   |   |     | Brown Carbon Mixing Ratio Analysis
#
  DUINC    |  kg/kg     | xyz | C |    |   |   |     | Dust Mixing Ratio Analysis Increments
  SSINC    |  kg/kg     | xyz | C |    |   |   |     | Sea-salt Mixing Ratio Analysis Increments
  NIINC    |  kg/kg     | xyz | C |    |   |   |     | Nitrate Mixing Ratio Analysis Increments
  SUINC    |  kg/kg     | xyz | C |    |   |   |     | Sulfate Mixing Ratio Analysis Increments
  BCINC    |  kg/kg     | xyz | C |    |   |   |     | Black Carbon Mixing Ratio Analysis Increments
  OCINC    |  kg/kg     | xyz | C |    |   |   |     | Organic Carbon Mixing Ratio Analysis Increments
  BRINC    |  kg/kg     | xyz | C |    |   |   |     | Brown Carbon Mixing Ratio Analysis Increments
# ---------|------------|-----|---|----|---|---|-----|---------------------------------
</ExportSpec>

#                               --------------
#                               Internal State
#                               --------------

#
# Note: 1) For friendlies, use "D" for dynamics, "T" for turbulence and "C" for convection; leave blank otherwise
#       2) If quantity requires no restart, put an 'x' in the No Rst column

#InternalSpec name="GAAS", cols="short_name,units,dims,vlocation,stat,refresh_interval,averaging_interval,num_subtiles,default,norestart,halowidth,friendlyto,long_name">
# -------------|------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
#  Short       |            |     | V |Item|Intervl| Sub | Def  | No | Ha | Friends |            Long
#  Name        |   Units    | Dim |Loc|Type| R | A |Tiles| ault | Rst| lo |         |            Name
# -------------|------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
# -------------|------------|-----|---|----|---|---|-----|------|----|----|---------|---------------------------------
#/InternalSpec>


