#
Include%%
##
%%

#
PrimaryExports%%
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|
#  Import      |       |       | Regrid |        Refresh       | OffSet | Scale  | Variable On |   File   |
#  Name        | Units | Clim  | Method |     Time Template    | Factor | Factor |     File    | Template |
# -------------|-------|-------|--------|----------------------|--------|--------|-------------|----------|

# --- MEGAN ---
MEGAN_AEF_ISOP  'kgC/m2/s'      N    Y -                    none     none    AEF_ISOPRENE      ExtData/chemistry/HEMCO/v0.0.0/sfc/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_MBOX  'kgC/m2/s'      N    Y -                    none     none    AEF_MBO           ExtData/chemistry/HEMCO/v0.0.0/sfc/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_BPIN  'kgC/m2/s'      N    Y -                    none     none    AEF_BETA_PINENE   ExtData/chemistry/HEMCO/v0.0.0/sfc/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_CARE  'kgC/m2/s'      N    Y -                    none     none    AEF_CARENE        ExtData/chemistry/HEMCO/v0.0.0/sfc/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_LIMO  'kgC/m2/s'      N    Y -                    none     none    AEF_LIMONENE      ExtData/chemistry/HEMCO/v0.0.0/sfc/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_OCIM  'kgC/m2/s'      N    Y -                    none     none    AEF_OCIMENE       ExtData/chemistry/HEMCO/v0.0.0/sfc/MEGAN2.1_EF.geos.025x03125.esmf.nc
MEGAN_AEF_SABI  'kgC/m2/s'      N    Y -                    none     none    AEF_SABINENE      ExtData/chemistry/HEMCO/v0.0.0/sfc/MEGAN2.1_EF.geos.025x03125.esmf.nc
CLM4_PFT_BARE      '1'          N    N -                    none     none    PFT_BARE          ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_NDLF_EVGN_TMPT_TREE '1' N    N -                    none     none    PFT_NDLF_EVGN_TMPT_TREE ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_NDLF_EVGN_BORL_TREE '1' N    N -                    none     none    PFT_NDLF_EVGN_BORL_TREE ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_NDLF_DECD_BORL_TREE '1' N    N -                    none     none    PFT_NDLF_DECD_BORL_TREE ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_EVGN_TROP_TREE '1' N    N -                    none     none    PFT_BDLF_EVGN_TROP_TREE ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_EVGN_TMPT_TREE '1' N    N -                    none     none    PFT_BDLF_EVGN_TMPT_TREE ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_TROP_TREE '1' N    N -                    none     none    PFT_BDLF_DECD_TROP_TREE ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_TMPT_TREE '1' N    N -                    none     none    PFT_BDLF_DECD_TMPT_TREE ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_BORL_TREE '1' N    N -                    none     none    PFT_BDLF_DECD_BORL_TREE ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_EVGN_SHRB      '1' N    N -                    none     none    PFT_BDLF_EVGN_SHRB      ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_TMPT_SHRB '1' N    N -                    none     none    PFT_BDLF_DECD_TMPT_SHRB ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_BDLF_DECD_BORL_SHRB '1' N    N -                    none     none    PFT_BDLF_DECD_BORL_SHRB ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_C3_ARCT_GRSS        '1' N    N -                    none     none    PFT_C3_ARCT_GRSS        ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_C3_NARC_GRSS        '1' N    N -                    none     none    PFT_C3_NARC_GRSS        ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_C4_GRSS             '1' N    N -                    none     none    PFT_C4_GRSS             ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
CLM4_PFT_CROP                '1' N    N -                    none     none    PFT_CROP                ExtData/chemistry/HEMCO/v0.0.0/sfc/CLM4_PFT.geos.025x03125.esmf.nc
MEGAN_ORVC       'kgC/m2/s'      Y    Y 1999-%m2-01T00:00:00 none     none    OCPI                    ExtData/chemistry/HEMCO/v0.0.0/sfc/NVOC.geos.1x1.esmf.nc

# --- Mask ---
#TIMEZONES NA  N V - none none  UTC_OFFSET ExtData/chemistry/HEMCO/v0.0.0/sfc/timezones_esmf.2x25.nc
%%

DerivedExports%%
# ---------|---------|--------------------------------------------|
#  Export  | Primary |_________________ Mask _____________________|
#  Name    |  Name   |    Name    |           Expression          |    
# ---------|---------|------------|-------------------------------|
# ---------|---------|------------|-------------------------------|
%%
