#Name        Spec   ExtNr Cat Hier Dim OutUnit  long_name                                                                       UnitName
# 2D -------------------------------------------------------------------------------------------------------------------------------------
EMIS_NO       NO     -1    -1  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_total_emissions                  kg_m-2_s-1
EMIS_NO_IND   NO      0     1  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_industry_emissions               kg_m-2_s-1
EMIS_NO_POW   NO      0     2  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_power_emissions                  kg_m-2_s-1
EMIS_NO_TRA   NO      0     3  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_transportation_emissions         kg_m-2_s-1
EMIS_NO_RES   NO      0     4  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_residential_emissions            kg_m-2_s-1
EMIS_NO_BB    NO      0     8  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_biomass_emissions                kg_m-2_s-1
EMIS_NO_TRASH NO      0     9  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_trash_emissions                  kg_m-2_s-1
DICE_NO_IND   NO      0    11  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_africa_industry_emissions        kg_m-2_s-1
DICE_NO_EN    NO      0    12  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_africa_energy_emissions          kg_m-2_s-1
EMIS_NO_SOIL  NO     104   -1  -1   2   kg/m2/s  Nitrogen_oxide_(NO,_MW_=_30.00_g_mol-1)_soil_emissions                   kg_m-2_s-1
EMIS_CO       CO     -1    -1  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_total_emissions                 kg_m-2_s-1
EMIS_CO_IND   CO      0     1  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_industry_emissions              kg_m-2_s-1
EMIS_CO_POW   CO      0     2  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_power_emissions                 kg_m-2_s-1
EMIS_CO_TRA   CO      0     3  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_transportation_emissions        kg_m-2_s-1
EMIS_CO_RES   CO      0     4  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_residential_emissions           kg_m-2_s-1
EMIS_CO_BB    CO      0     8  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_biomass_emissions               kg_m-2_s-1
EMIS_CO_TRASH CO      0     9  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_trash_emissions                 kg_m-2_s-1
DICE_CO_IND   NO      0    11  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_africa_industry_emissions       kg_m-2_s-1
DICE_CO_EN    NO      0    12  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_africa_energy_emissions         kg_m-2_s-1
EMIS_CO_BG    CO      108  -1  -1   2   kg/m2/s  Carbon_monoxide_(CO,_MW_=_28.00_g_mol-1)_biogenic_emissions              kg_m-2_s-1
EMIS_NH3      NH3    -1    -1  -1   2   kg/m2/s  Ammonia_(NH3,_MW_=_17.00_g_mol-1)_total_emissions                        kg_m-2_s-1
EMIS_NH3_IND  NH3     0     1  -1   2   kg/m2/s  Ammonia_(NH3,_MW_=_17.00_g_mol-1)_industry_emissions                     kg_m-2_s-1
EMIS_NH3_POW  NH3     0     2  -1   2   kg/m2/s  Ammonia_(NH3,_MW_=_17.00_g_mol-1)_power_emissions                        kg_m-2_s-1
EMIS_NH3_TRA  NH3     0     3  -1   2   kg/m2/s  Ammonia_(NH3,_MW_=_17.00_g_mol-1)_transportation_emissions               kg_m-2_s-1
EMIS_NH3_RES  NH3     0     4  -1   2   kg/m2/s  Ammonia_(NH3,_MW_=_17.00_g_mol-1)_residential_emissions                  kg_m-2_s-1
EMIS_NH3_BB   NH3     0     8  -1   2   kg/m2/s  Ammonia_(NH3,_MW_=_17.00_g_mol-1)_biomass_burning_emissions              kg_m-2_s-1
DICE_NH3_IND  NH3     0    11  -1   2   kg/m2/s  Ammonia_(NH3,_MW_=_17.00_g_mol-1)_africa_industry_emissions              kg_m-2_s-1
EMIS_NH3_BIRD NH3     0     30 -1   2   kg/m2/s  Ammonia_(NH3,_MW_=_17.00_g_mol-1)_seabird_emissions                      kg_m-2_s-1
EMIS_ISOP     ISOP   -1    -1  -1   2   kgC/m2/s Isoprene_(CH2=C(CH3)CH=CH2,_MW_=_68.12_g_mol-1)_total_carbon_emissions   kgC_m-2_s-1
EMIS_PRPE     PRPE   -1    -1  -1   2   kgC/m2/s Lumped_>=_C3_alkenes_(C3H6,_MW_=_42.08_g_mol-1)_total_carbon_emissions   kgC_m-2_s-1
EMIS_PRPE_AN  PRPE    0     1   2   2   kgC/m2/s Lumped_>=_C3_alkenes_(C3H6,_MW_=_42.08_g_mol-1)_anthropogenic_carbon_emissions kgC_m-2_s-1
EMIS_PRPE_BB  PRPE    0     8  -1   2   kgC/m2/s Lumped_>=_C3_alkenes_(C3H6,_MW_=_42.08_g_mol-1)_biomass_carbon_emissions kgC_m-2_s-1
DICE_PRPE_IND PRPE    0    11  -1   2   kgC/m2/s Lumped_>=_C3_alkenes_(C3H6,_MW_=_42.08_g_mol-1)_africa_industry_carbon_emissions kgC_m-2_s-1
EMIS_PRPE_BG  PRPE    108  -1  -1   2   kgC/m2/s Lumped_>=_C3_alkenes_(C3H6,_MW_=_42.08_g_mol-1)_biogenic_carbon_emissions kgC_m-2_s-1
EMIS_ACET     ACET   -1    -1  -1   2   kgC/m2/s Acetone_(CH3C(O)CH3,_MW_=_58.08_g_mol-1)_total_carbon_emissions          kgC_m-2_s-1
EMIS_ACET_AN  ACET    0     1   2   2   kgC/m2/s Acetone_(CH3C(O)CH3,_MW_=_58.08_g_mol-1)_anthropogenic_carbon_emissions  kgC_m-2_s-1
EMIS_ACET_BB  ACET    0     8  -1   2   kgC/m2/s Acetone_(CH3C(O)CH3,_MW_=_58.08_g_mol-1)_biomass_carbon_emissions        kgC_m-2_s-1
DICE_ACET_EN  ACET    0    12  -1   2   kgC/m2/s Acetone_(CH3C(O)CH3,_MW_=_58.08_g_mol-1)_africa_energy_carbon_emissions  kgC_m-2_s-1
EMIS_ACET_OC  ACET    101  -1  -1   2   kgC/m2/s Acetone_(CH3C(O)CH3,_MW_=_58.08_g_mol-1)_ocean_carbon_emissions          kgC_m-2_s-1
EMIS_ACET_BG  ACET    108  -1  -1   2   kgC/m2/s Acetone_(CH3C(O)CH3,_MW_=_58.08_g_mol-1)_biogenic_carbon_emissions       kgC_m-2_s-1
EMIS_SO2      SO2    -1    -1  -1   2   kg/m2/s  Sulfur_dioxide_(SO2,_MW_=_64.00_g_mol-1)_total_emissions                 kg_m-2_s-1
EMIS_SO2_NEN  SO2     0     1  -1   2   kg/m2/s  Sulfur_dioxide_(SO2,_MW_=_64.00_g_mol-1)_non_energy_emissions            kg_m-2_s-1
EMIS_SO2_EN   SO2     0     2  -1   2   kg/m2/s  Sulfur_dioxide_(SO2,_MW_=_64.00_g_mol-1)_energy_emissions                kg_m-2_s-1
EMIS_SO2_BB   SO2     0     8  -1   2   kg/m2/s  Sulfur_dioxide_(SO2,_MW_=_64.00_g_mol-1)_biomass_emissions               kg_m-2_s-1
DICE_SO2_IND  SO2     0    11  -1   2   kg/m2/s  Sulfur_dioxide_(SO2,_MW_=_64.00_g_mol-1)_africa_industry_emissions       kg_m-2_s-1
DICE_SO2_EN   SO2     0    12  -1   2   kg/m2/s  Sulfur_dioxide_(SO2,_MW_=_64.00_g_mol-1)_africa_energy_emissions         kg_m-2_s-1
EMIS_SO2_VER  SO2     115   61 -1   2   kg/m2/s  Sulfur_dioxide_(SO2,_MW_=_64.00_g_mol-1)_eruptive_volcano_emissions      kg_m-2_s-1
EMIS_SO2_VDG  SO2     115   62 -1   2   kg/m2/s  Sulfur_dioxide_(SO2,_MW_=_64.00_g_mol-1)_degassing_volcano_emissions     kg_m-2_s-1
EMIS_SO4      SO4    -1    -1  -1   2   kg/m2/s  Sulfate_(SO4,_MW_=_96.00_g_mol-1)_total_emissions                        kg_m-2_s-1
EMIS_SO4_NEN  SO4     0     1  -1   2   kg/m2/s  Sulfate_(SO4,_MW_=_96.00_g_mol-1)_non_energy_emissions                   kg_m-2_s-1
EMIS_SO4_EN   SO4     0     2  -1   2   kg/m2/s  Sulfate_(SO4,_MW_=_96.00_g_mol-1)_energy_emissions                       kg_m-2_s-1
DICE_SO4_IND  SO4     0    11  -1   2   kg/m2/s  Sulfate_(SO4,_MW_=_96.00_g_mol-1)_africa_industry_emissions              kg_m-2_s-1
DICE_SO4_EN   SO4     0    12  -1   2   kg/m2/s  Sulfate_(SO4,_MW_=_96.00_g_mol-1)_africa_energy_emissions                kg_m-2_s-1
EMIS_SO4_BB   SO4     0     8  -1   2   kg/m2/s  Sulfate_(SO4,_MW_=_96.00_g_mol-1)_biomass_emissions                      kg_m-2_s-1
EMIS_SO4_VER  SO4     115   61 -1   2   kg/m2/s  Sulfate_(SO4,_MW_=_96.00_g_mol-1)_eruptive_volcano_emissions             kg_m-2_s-1
EMIS_SO4_VDG  SO4     115   62 -1   2   kg/m2/s  Sulfate_(SO4,_MW_=_96.00_g_mol-1)_degassing_volcano_emissions            kg_m-2_s-1
EMIS_DMS      DMS    -1    -1  -1   2   kg/m2/s  dimethyl_sulfide_((CH3)2S,_MW_=_62.00_g_mol-1)_total_emissions           kg_m-2_s-1
EMIS_C2H6     C2H6   -1    -1  -1   2   kgC/m2/s Ethane_(C2H6,_MW_=_30.07_g_mol-1)_total_carbon_emissions                 kgC_m-2_s-1
EMIS_C2H6_AN  C2H6    0     1  100  2   kgC/m2/s Ethane_(C2H6,_MW_=_30.07_g_mol-1)_anthropogenic_carbon_emissions         kgC_m-2_s-1
EMIS_C2H6_BF  C2H6    0     4  100  2   kgC/m2/s Ethane_(C2H6,_MW_=_30.07_g_mol-1)_biofuel_carbon_emissions               kgC_m-2_s-1
DICE_C2H6_IND C2H6    0    11  -1   2   kgC/m2/s Ethane_(C2H6,_MW_=_30.07_g_mol-1)_africa_industry_carbon_emissions       kgC_m-2_s-1
DICE_C2H6_EN  C2H6    0    12  -1   2   kgC/m2/s Ethane_(C2H6,_MW_=_30.07_g_mol-1)_africa_energy_carbon_emissions         kgC_m-2_s-1
EMIS_C2H6_BB  C2H6    0     8  -1   2   kgC/m2/s Ethane_(C2H6,_MW_=_30.07_g_mol-1)_biomass_carbon_emissions               kgC_m-2_s-1
EMIS_DST1     DST1   -1    -1  -1   2   kg/m2/s  Dust_aerosol,_Reff_=_0.7_microns_(MW_=_29.00_g_mol-1)_emissions          kg_m-2_s-1
EMIS_DST2     DST2   -1    -1  -1   2   kg/m2/s  Dust_aerosol,_Reff_=_1.4_microns_(MW_=_29.00_g_mol-1)_emissions          kg_m-2_s-1
EMIS_DST3     DST3   -1    -1  -1   2   kg/m2/s  Dust_aerosol,_Reff_=_2.4_microns_(MW_=_29.00_g_mol-1)_emissions          kg_m-2_s-1
EMIS_DST4     DST4   -1    -1  -1   2   kg/m2/s  Dust_aerosol,_Reff_=_4.5_microns_(MW_=_29.00_g_mol-1)_emissions          kg_m-2_s-1
EMIS_SALA     SALA   -1    -1  -1   2   kg/m2/s  Fine_(0.01-0.05_microns)_sea-salt_aerosol_(MW_=_31.40_g_mol-1)_total_emissions  kg_m-2_s-1
EMIS_SALC     SALC   -1    -1  -1   2   kg/m2/s  Coarse_(0.5-8_microns)_sea-salt_aerosol_(MW_=_31.40_g_mol-1)_total_emissions kg_m-2_s-1
EMIS_Br2      Br2    -1    -1  -1   2   kg/m2/s  Molecular_bromine_(Br2,_MW_=_160_g_mol-1)_total_emissions                kg_m-2_s-1
EMIS_BrSALA   BrSALA -1    -1  -1   2   kg/m2/s  Fine_(0.01-0.05_microns)_sea-salt_bromine_aerosol_total_emissions  kg_m-2_s-1
EMIS_BrSALC   BrSALC -1    -1  -1   2   kg/m2/s  Coarse_(0.5-8_microns)_sea-salt_bromine_aerosol_total_emissions kg_m-2_s-1
EMIS_HOI      HOI    -1    -1  -1   2   kg/m2/s  Hypoiodous_acid_(HOI,_MW_=_144.00_g_mol-1)_total_emissions               kg_m-2_s-1
EMIS_I2       I2     -1    -1  -1   2   kg/m2/s  Molecular_iodine_(I2,_MW_=_254.00_g_mol-1)_total_emissions               kg_m-2_s-1
EMIS_CH3I     CH3I   -1    -1  -1   2   kg/m2/s  Methyl_iodide_(CH3I,_MW_=_142.00_g_mol-1)_total_emissions                kg_m-2_s-1
EMIS_CH2I2    CH2I2  -1    -1  -1   2   kg/m2/s  Diiodomethane_(CH2I2,_MW_=_268.00_g_mol-1)_total_emissions               kg_m-2_s-1
EMIS_CH2ICl   CH2ICl -1    -1  -1   2   kg/m2/s  Chloroiodomethane_(CH2ICl,_MW_=_167.00_g_mol-1)_total_emissions          kg_m-2_s-1
EMIS_CH2IBr   CH2IBr -1    -1  -1   2   kg/m2/s  Bromoiodomethane_(CH2IBr,_MW_=_221.00_g_mol-1)_total_emissions           kg_m-2_s-1
EMIS_BCPI     BCPI   -1    -1  -1   2   kgC/m2/s Hydrophilic_black_carbon_(MW_=_12.00_g_mol-1)_total_emissions            kgC_m-2_s-1
EMIS_BCPI_IND BCPI    0     1  -1   2   kgC/m2/s Hydrophilic_black_carbon_(MW_=_12.00_g_mol-1)_industry_emissions         kgC_m-2_s-1
EMIS_BCPI_POW BCPI    0     2  -1   2   kgC/m2/s Hydrophilic_black_carbon_(MW_=_12.00_g_mol-1)_power_emissions            kgC_m-2_s-1
EMIS_BCPI_TRA BCPI    0     3  -1   2   kgC/m2/s Hydrophilic_black_carbon_(MW_=_12.00_g_mol-1)_traffic_emissions          kgC_m-2_s-1
EMIS_BCPI_RES BCPI    0     4  -1   2   kgC/m2/s Hydrophilic_black_carbon_(MW_=_12.00_g_mol-1)_residential_emissions      kgC_m-2_s-1
EMIS_BCPI_BB  BCPI    0     8  -1   2   kgC/m2/s Hydrophilic_black_carbon_(MW_=_12.00_g_mol-1)_biomass_emissions          kgC_m-2_s-1
DICE_BCPI_IND BCPI    0    11  -1   2   kgC/m2/s Hydrophilic_black_carbon_(MW_=_12.00_g_mol-1)_africa_industry_emissions  kgC_m-2_s-1
DICE_BCPI_EN  BCPI    0    12  -1   2   kgC/m2/s Hydrophilic_black_carbon_(MW_=_12.00_g_mol-1)_africa_energy_emissions    kgC_m-2_s-1
EMIS_BCPO     BCPO   -1    -1  -1   2   kgC/m2/s Hydrophobic_black_carbon_(MW_=_12.00_g_mol-1)_total_emissions            kgC_m-2_s-1
EMIS_BCPO_IND BCPO    0     1  -1   2   kgC/m2/s Hydrophobic_black_carbon_(MW_=_12.00_g_mol-1)_industry_emissions         kgC_m-2_s-1
EMIS_BCPO_POW BCPO    0     2  -1   2   kgC/m2/s Hydrophobic_black_carbon_(MW_=_12.00_g_mol-1)_power_emissions            kgC_m-2_s-1
EMIS_BCPO_TRA BCPO    0     3  -1   2   kgC/m2/s Hydrophobic_black_carbon_(MW_=_12.00_g_mol-1)_traffic_emissions          kgC_m-2_s-1
EMIS_BCPO_RES BCPO    0     4  -1   2   kgC/m2/s Hydrophobic_black_carbon_(MW_=_12.00_g_mol-1)_residential_emissions      kgC_m-2_s-1
DICE_BCPO_IND BCPO    0    11  -1   2   kgC/m2/s Hydrophobic_black_carbon_(MW_=_12.00_g_mol-1)_africa_industry_emissions  kgC_m-2_s-1
DICE_BCPO_EN  BCPO    0    12  -1   2   kgC/m2/s Hydrophobic_black_carbon_(MW_=_12.00_g_mol-1)_africa_energy_emissions    kgC_m-2_s-1
EMIS_BCPO_BB  BCPO    0     8  -1   2   kgC/m2/s Hydrophobic_black_carbon_(MW_=_12.00_g_mol-1)_biomass_emissions          kgC_m-2_s-1
EMIS_OCPI     OCPI   -1    -1  -1   2   kgC/m2/s Hydrophilic_organic_carbon_(MW_=_12.00_g_mol-1)_total_emissions          kgC_m-2_s-1
EMIS_OCPI_IND OCPI    0     1  -1   2   kgC/m2/s Hydrophilic_organic_carbon_(MW_=_12.00_g_mol-1)_industry_emissions       kgC_m-2_s-1
EMIS_OCPI_POW OCPI    0     2  -1   2   kgC/m2/s Hydrophilic_organic_carbon_(MW_=_12.00_g_mol-1)_power_emissions          kgC_m-2_s-1
EMIS_OCPI_TRA OCPI    0     3  -1   2   kgC/m2/s Hydrophilic_organic_carbon_(MW_=_12.00_g_mol-1)_traffic_emissions        kgC_m-2_s-1
EMIS_OCPI_RES OCPI    0     4  -1   2   kgC/m2/s Hydrophilic_organic_carbon_(MW_=_12.00_g_mol-1)_residential_emissions    kgC_m-2_s-1
EMIS_OCPI_BB  OCPI    0     8  -1   2   kgC/m2/s Hydrophilic_organic_carbon_(MW_=_12.00_g_mol-1)_biomass_emissions        kgC_m-2_s-1
DICE_OCPI_IND OCPI    0    11  -1   2   kgC/m2/s Hydrophilic_organic_carbon_(MW_=_12.00_g_mol-1)_africa_industry_emissions kgC_m-2_s-1
DICE_OCPI_EN  OCPI    0    12  -1   2   kgC/m2/s Hydrophilic_organic_carbon_(MW_=_12.00_g_mol-1)_africa_energy_emissions  kgC_m-2_s-1
EMIS_OCPO     OCPO   -1    -1  -1   2   kgC/m2/s Hydrophobic_organic_carbon_(MW_=_12.00_g_mol-1)_total_emissions          kgC_m-2_s-1
EMIS_OCPO_IND OCPO    0     1  -1   2   kgC/m2/s Hydrophobic_organic_carbon_(MW_=_12.00_g_mol-1)_industry_emissions       kgC_m-2_s-1
EMIS_OCPO_POW OCPO    0     2  -1   2   kgC/m2/s Hydrophobic_organic_carbon_(MW_=_12.00_g_mol-1)_power_emissions          kgC_m-2_s-1
EMIS_OCPO_TRA OCPO    0     3  -1   2   kgC/m2/s Hydrophobic_organic_carbon_(MW_=_12.00_g_mol-1)_traffic_emissions        kgC_m-2_s-1
EMIS_OCPO_RES OCPO    0     4  -1   2   kgC/m2/s Hydrophobic_organic_carbon_(MW_=_12.00_g_mol-1)_residential_emissions    kgC_m-2_s-1
EMIS_OCPO_BB  OCPO    0     8  -1   2   kgC/m2/s Hydrophobic_organic_carbon_(MW_=_12.00_g_mol-1)_biomass_emissions        kgC_m-2_s-1
DICE_OCPO_IND OCPO    0    11  -1   2   kgC/m2/s Hydrophobic_organic_carbon_(MW_=_12.00_g_mol-1)_africa_industry_emissions kgC_m-2_s-1
DICE_OCPO_EN  OCPO    0    12  -1   2   kgC/m2/s Hydrophobic_organic_carbon_(MW_=_12.00_g_mol-1)_africa_energy_emissions  kgC_m-2_s-1
EMIS_CH2O     CH2O   -1    -1  -1   2   kg/m2/s  Formaldehye_(CH2O,_MW_=_30.00_g_mol-1)_total_emissions                   kg_m-2_s-1
EMIS_CH2O_AN  CH2O    0     1  -1   2   kg/m2/s  Formaldehye_(CH2O,_MW_=_30.00_g_mol-1)_anthropogenic_emissions           kg_m-2_s-1
DICE_CH2O_IND CH2O    0    11  -1   2   kg/m2/s  Formaldehye_(CH2O,_MW_=_30.00_g_mol-1)_africa_industry_emissions         kg_m-2_s-1
DICE_CH2O_EN  CH2O    0    12  -1   2   kg/m2/s  Formaldehye_(CH2O,_MW_=_30.00_g_mol-1)_africa_energy_emissions           kg_m-2_s-1
EMIS_CH2O_BB  CH2O    0     8  -1   2   kg/m2/s  Formaldehye_(CH2O,_MW_=_30.00_g_mol-1)_biomass_emissions                 kg_m-2_s-1
EMIS_ALK4     ALK4    0    -1  -1   2   kgC/m2/s Lumped_>=_C4_Alkanes_(MW_=_58.12_g_mol-1)_total_carbon_emissions         kgC_m-2_s-1
EMIS_ALK4_AN  ALK4    0     1  -1   2   kgC/m2/s Lumped_>=_C4_Alkanes_(MW_=_58.12_g_mol-1)_anthropogenic_carbon_emissions kgC_m-2_s-1
DICE_ALK4_EN  ALK4    0    12  -1   2   kgC/m2/s Lumped_>=_C4_Alkanes_(MW_=_58.12_g_mol-1)_africa_energy_carbon_emissions kgC_m-2_s-1
EMIS_ALK4_BB  ALK4    0     8  -1   2   kgC/m2/s Lumped_>=_C4_Alkanes_(MW_=_58.12_g_mol-1)_biomass_carbon_emissions       kgC_m-2_s-1
EMIS_C3H8     C3H8   -1    -1  -1   2   kgC/m2/s Propane_(C3H8,_MW_=_44.10_g_mol-1)_total_carbon_emissions                kgC_m-2_s-1
EMIS_C3H8_AN  C3H8    0     1  -1   2   kgC/m2/s Propane_(C3H8,_MW_=_44.10_g_mol-1)_anthropogenic_carbon_emissions        kgC_m-2_s-1
DICE_C3H8_EN  C3H8    0    12  -1   2   kgC/m2/s Propane_(C3H8,_MW_=_44.10_g_mol-1)_africa_energy_carbon_emissions        kgC_m-2_s-1
EMIS_C3H8_BB  C3H8    0     8  -1   2   kgC/m2/s Propane_(C3H8,_MW_=_44.10_g_mol-1)_biomass_carbon_emissions              kgC_m-2_s-1
EMIS_ALD2     ALD2   -1    -1  -1   2   kgC/m2/s Acetaldehyde_(CH3CHO,_MW_=_44.05_g_mol-1)_total_carbon_emissions         kgC_m-2_s-1
EMIS_ALD2_AN  ALD2    0     1  -1   2   kgC/m2/s Acetaldehyde_(CH3CHO,_MW_=_44.05_g_mol-1)_anthropogenic_carbon_emissions kgC_m-2_s-1
DICE_ALD2_EN  ALD2    0    12  -1   2   kgC/m2/s Acetaldehyde_(CH3CHO,_MW_=_44.05_g_mol-1)_africa_energy_carbon_emissions kgC_m-2_s-1
EMIS_ALD2_BB  ALD2    0     8  -1   2   kgC/m2/s Acetaldehyde_(CH3CHO,_MW_=_44.05_g_mol-1)_biomass_carbon_emissions       kgC_m-2_s-1
EMIS_ALD2_BG  ALD2    108  -1  -1   2   kgC/m2/s Acetaldehyde_(CH3CHO,_MW_=_44.05_g_mol-1)_biogenic_carbon_emissions      kgC_m-2_s-1
EMIS_ALD2_OC  ALD2    101  -1  -1   2   kgC/m2/s Acetaldehyde_(CH3CHO,_MW_=_44.05_g_mol-1)_ocean_carbon_emissions         kgC_m-2_s-1
EMIS_MEK      MEK    -1    -1  -1   2   kgC/m2/s Methyl_Ethyl_Ketone_(RC(O)R,_MW_=_72.11_g_mol-1)_total_carbon_emissions  kgC_m-2_s-1
EMIS_MEK_AN   MEK     0     1  -1   2   kgC/m2/s Methyl_Ethyl_Ketone_(RC(O)R,_MW_=_72.11_g_mol-1)_anthropogenic_carbon_emissions kgC_m-2_s-1
DICE_MEK_EN   MEK     0    12  -1   2   kgC/m2/s Methyl_Ethyl_Ketone_(RC(O)R,_MW_=_72.11_g_mol-1)_africa_energy_carbon_emissions kgC_m-2_s-1
EMIS_MEK_BB   MEK     0     8  -1   2   kgC/m2/s Methyl_Ethyl_Ketone_(RC(O)R,_MW_=_72.11_g_mol-1)_biomass_carbon_emissions kgC_m-2_s-1
EMIS_CHBr3    CHBr3  -1    -1  -1   2   kg/m2/s  Bromoform_(CHBr3,_MW_=_253.00_g_mol-1)_total_emissions                   kg_m-2_s-1
EMIS_CH2Br2   CH2Br2 -1    -1  -1   2   kg/m2/s  Dibromomethane_(CH2Br2,_MW_=_174.00_g_mol-1)_total_emissions             kg_m-2_s-1
EMIS_CH4      CH4    -1    -1  -1   2   kg/m2/s  Methane_(CH4,_MW_=_16.00_g_mol-1)_total_emissions                        kg_m-2_s-1
EMIS_CH4_WETL CH4     0     9  -1   2   kg/m2/s  Methane_(CH4,_MW_=_16.00_g_mol-1)_wetland_emissions                      kg_m-2_s-1
EMIS_BENZ     BENZ   -1    -1  -1   2   kgC/m2/s Benzene_(C6H6,_MW_=_78.11_g_mol-1)_total_carbon_emissions                kgC_m-2_s-1
EMIS_TOLU     TOLU   -1    -1  -1   2   kgC/m2/s Toluene_(C7H8,_MW_=_92.14_g_mol-1)_total_carbon_emissions                kgC_m-2_s-1
EMIS_XYLE     XYLE   -1    -1  -1   2   kgC/m2/s Xylene_(C8H10,_MW_=_106.16_g_mol-1)_total_carbon_emissions               kgC_m-2_s-1
EMIS_EOH      EOH    -1    -1  -1   2   kgC/m2/s Ethanol_(C2H5OH,_MW_=_46.07_g_mol-1)_total_carbon_emissions              kgC_m-2_s-1
EMIS_EOH_AN   EOH     0     1  -1   2   kgC/m2/s Ethanol_(C2H5OH,_MW_=_46.07_g_mol-1)_anthropogenic_carbon_emissions      kgC_m-2_s-1
EMIS_EOH_BG   EOH     108  -1  -1   2   kgC/m2/s Ethanol_(C2H5OH,_MW_=_46.07_g_mol-1)_biogenic_carbon_emissions           kgC_m-2_s-1
EMIS_SOAP     SOAP   -1    -1  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_total_emissions                      kg_m-2_s-1
EMIS_SOAP_IND SOAP    0     1  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_industry_emissions                   kg_m-2_s-1
EMIS_SOAP_POW SOAP    0     2  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_power_emissions                      kg_m-2_s-1
EMIS_SOAP_TRA SOAP    0     3  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_traffic_emissions                    kg_m-2_s-1
EMIS_SOAP_RES SOAP    0     4  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_residential_emissions                kg_m-2_s-1
DICE_SOAP_IND SOAP    0    11  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_africa_industry_emissions            kg_m-2_s-1
DICE_SOAP_EN  SOAP    0    12  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_africa_energy_emissions              kg_m-2_s-1
EMIS_SOAP_BB  SOAP    0     8  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_biomass_emissions                    kg_m-2_s-1
EMIS_SOAP_BG  SOAP    108  -1  -1   2   kg/m2/s  SOA_precursor_(MW_=_150.00_g_mol-1)_biogenic_emissions                   kg_m-2_s-1
EMIS_SOAS     SOAS   -1    -1  -1   2   kg/m2/s  SOA_simple_(MW_=_150.00_g_mol-1)_total_emissions                         kg_m-2_s-1
EMIS_SOAS_BB  SOAS    0     8  -1   2   kg/m2/s  SOA_simple_(MW_=_150.00_g_mol-1)_biomass_emissions                       kg_m-2_s-1
EMIS_SOAS_BG  SOAS    108  -1  -1   2   kg/m2/s  SOA_simple_(MW_=_150.00_g_mol-1)_biogenic_emissions                      kg_m-2_s-1
EMIS_HCOOH    HCOOH  -1    -1  -1   2   kg/m2/s  Formic_acid_(HCOOH,_MW_=_46.00_g_mol-1)_total_emissions                  kg_m-2_s-1
EMIS_pFe      pFe    -1    -1  -1   2   kg/m2/s  Anthropogenic_iron_(Fe,_MW_=_55.85_g_mol-1)_total_emissions              kg_m-2_s-1
EMIS_LIMO_BG  LIMO    108  -1  -1   2   kg/m2/s  Limonene_(MW_=_136.23_g_mol-1)_biogenic_emissions                        kg_m-2_s-1
EMIS_SESQ_BG  SESQ    108  -1  -1   2   kg/m2/s  Sesquiterpene_(MW_=_136.23_g_mol-1)_biogenic_emissions                   kg_m-2_s-1
EMIS_MTPA_BG  MTPA    108  -1  -1   2   kg/m2/s  Lumped_monoterpenes_(MW_=_136.23_g_mol-1)_biogenic_emissions             kg_m-2_s-1
EMIS_MTPO_BG  MTPO    108  -1  -1   2   kg/m2/s  Other_monoterpenes_(MW_=_136.23_g_mol-1)_biogenic_emissions              kg_m-2_s-1
# 2D/3D -----------------------------------------------------------------------------------------------------------------------------------
EMIS_NO_LGHT   NO     103   -1  -1  2   kg/m2/s  Nitrogen_oxide_(NO)_MW_=_30.0_gmol-1_lightning_emissions                 kg_m-2_s-1
EMIS_NO_LGHT3D NO     103   -1  -1  3   kg/m2/s  Nitrogen_oxide_(NO)_MW_=_30.0_gmol-1_lightning_emissions                 kg_m-2_s-1
